@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&family=Ubuntu:ital,wght@0,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: url(d.jpg) no-repeat center center fixed;
    background-size: cover;
}
.container{
    color: white;
    position: absolute;
    width: 20%;
    top: 34%;
    left: 42%;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

}
.container h1{
    width: 60%;
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    font-size: 40px;
    border-bottom: 5px solid rgb(207, 92, 224);
    margin-bottom: 15px;
    padding: 13px 0;
}
.box{

    margin: 15px 0;
    border-bottom: 2px solid  rgb(207, 92, 224);
}
.box input{
    background: none;
    width: 80%;
    font-size: 18px;
    border: none;
    outline: none;
    color: rgb(196, 183, 175);
    padding-bottom: 12px;
    margin: 2px;
}
.box i{
    /* padding: 0 12px; */
    text-align: center;
    width: 24px;
    color: white;
}
.btn{
    
    font-size: 15px;
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    border-radius: 10px;
    padding: 10px 21px;
    border: none;
    background: none;
    color: white;
    font-weight: bold;
    text-align:center;
    
}
::placeholder{
    color: rgb(167, 154, 180);
    

}
.btn:hover{
    color: rgb(28, 5, 54);
    background-color:white;
    font-family: 'Ubuntu', sans-serif;
    opacity: 0.4;
}
